<div id="<%= dom_id reading %>">
  <p>
    <strong>User:</strong>
    <%= reading.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= reading.book_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reading.status %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= reading.rating %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= reading.review %>
  </p>

</div>
